# Explore Calendar DB

In [1]:
import os

import pandas as pd

from event_tracking.config import INTERIM_DATA_DIR

file_path = os.path.join(INTERIM_DATA_DIR, 'my_calendar_db.parquet')

In [3]:
df = pd.read_parquet(file_path)

In [4]:
df.head()

,event_id,summary,calendar_name,start_time,end_time,all_day,duration_minutes,day_of_week,week_number,day,month,year,hour_of_day
0,_60q30c1g60o30e1i60o4ac1g60rj8gpl88rj2c1h84s34...,San Gaudenzio,Pozz,2025-01-22 00:00:00,2025-01-23 00:00:00,True,NaN,Wednesday,4,22,January,2025,NaN
1,_60q30c1g60o30e1i60o4ac1g60rj8gpl88rj2c1h84s34...,ðŸ¥— torta salata e Edo ðŸ’™,Pozz,2025-01-22 17:30:00,2025-01-22 20:00:00,False,150.0,Wednesday,4,22,January,2025,18.0
2,_60q30c1g60o30e1i60o4ac1g60rj8gpl88rj2c1h84s34...,ðŸ¥— salmone e patate e Edo ðŸ’™,Pozz,2025-01-23 17:30:00,2025-01-23 19:00:00,False,90.0,Thursday,4,23,January,2025,18.0
3,_60q30c1g60o30e1i60o4ac1g60rj8gpl88rj2c1h84s34...,family time,Pozz,2025-01-24 15:00:00,2025-01-24 17:30:00,False,150.0,Friday,4,24,January,2025,16.0
4,_60q30c1g60o30e1i60o4ac1g60rj8gpl88rj2c1h84s34...,ðŸ¥— durango e Edo ðŸ’™,Pozz,2025-01-24 17:30:00,2025-01-24 20:00:00,False,150.0,Friday,4,24,January,2025,18.0

In [8]:
(
    df
    .groupby(['calendar_name', 'all_day'])
    .size()
    .to_frame('events')
    .reset_index()
)

         calendar_name  all_day  events
0               Giulia    False      15
1               Giulia     True       6
2                 Pozz    False     184
3                 Pozz     True      18
4  Pozz Health & Learn    False     250
5            Pozz Work    False     215